<h1>Intermittent Fasting</h1>

With Intermittent Fasting, you eat during a specific time and is more of a pattern of 
eating. The fasting was designed to get your body in the post-absorptive state
which induces a fat burning state. The post-absorptive state lasts 8 - 12 hours and studies 
have shown that when you are in this state, your insulin levels drop, human growth hormone 
increases and your cells initiate cellular repair processes and change which genes they
express.


<div>

    <h2>Intermittent Fasting Types</h2>

    <ul>
        <li>16:8</li>
        <li>5:2</li>
        <li>The Warrior</li>
        <li>Overnight Fast</li>
        <li>Alternate-Day Fast</li>
    </ul>
</div>
<img src="~/images/Intermittent-Fasting.jpg" alt="Inter Chart" />