<!DOCTYPE html>


<h1>Intermittent Fasting</h1>

<strong>With Intermittent Fasting, you eat during a specific time and is more of a pattern of 
eating. The fasting was designed to get your body in the post-absorptive state
which induces a fat burning state. The post-absorptive state lasts 8 - 12 hours and studies 
have shown that when you are in this state, your insulin levels drop, human growth hormone 
increases and your cells initiate cellular repair processes and change which genes they
express.</strong>


<div>

    

    <article class="all-browsers">
        <h1>Popular Intermittent Fasting Types</h1>
        <article class="browser">
            <h2>16:8</h2>
            <p>16:8 fasting involves eating only during an 8 hour window during the day
            and fasting for the remaining 16 hours. Studies show this fasting type can support weight
            loss, imporve blood sugar, increase brain function and increase longevity</p>
        </article>
        <article class="browser">
            <h2>5:2</h2>
            <p>Considered the most popular intermittent fasting diet, the 5:2 consists of 
            5 days of the week are normal eating days, while the other two days restricts calorie
            intake to 500-600 calories per day.</p>
        </article>
        <article class="browser">
            <h2>The Warrior</h2>
            <p>The Warrior Diet is based off the eating patterns of ancient warriors which consisted of a 
            full 20 hours of fasting and a large meal or a 4 hour eating period. Followers of the diet claim
            this method improves and boosts concentration, energy levels and stimulates cellular repair</p>
        </article>
    </article>

</div>
<img src="~/images/Intermittent-Fasting.jpg" alt="Inter Chart" />