<h1>The Ketogenic Diet</h1>

<strong>
    The Ketogenic Diet is consisted of high fat and protien with a low carbohydrate eating pattern.
    The goal of the diet is to keep carbohydrates below 50 grams per day.
    With a Ketogenic Diet, ketones are made the primary source for energy in the place of
    carbohydrates which then maintain lean muscle mass and large amounts of fat loss. Although this
    diet aids in rapid fat loss, it is not reccommended that the diet is used long-term.
</strong>


<div>

    <h2>Ketogenic Diet Key Components</h2>
    <ul>
        <li>High Fat</li>
        <li>High Protien</li>
        <li>Low Carb</li>
        <li>Short Term</li>
    </ul>
</div>
<img src="~/images/OIP.jpg" alt="Keto Chart" />

<h2>Keto Meals</h2>
<h3>Breakfast - Mushroom omelet</h3>
<h4> 1 serving/5g carbs/ 517 calories</h4>

<ul>
    <li>3 Eggs</li>
    <li>1oz butter</li>
    <li>1 oz shredded cheese</li>
    <li>1/4 yellow onion (chopped)</li>
    <li>4 large mushrooms</li>
    <li>Salt and Pepper to taste</li>
</ul>
<p>
    1.)Crack all eggs into mixing bowl, whisk the eggs until smooth, add salt and pepper.<br />
    2.) Melt butter into frying pan over medium heat, add mushrooms and onions until tender, pour in the egg mixture on the veggies <br />
    3.)Once omelet is firm, sprinkle cheese on top and fold the omelet over in half.<br />
    4.) Enjoy!
<p />

<h3>Lunch - Smoked Salmon</h3>
<h4> 2 servings/1g carbs/ 1016 calories</h4>
<ul>
    <li>12 oz. Smoked Salmon</li>
    <li>1/2 cup Mayonnaise</li>
    <li>2 cups spinach</li>
    <li>1 tbsp olive oil</li>
    <li>1/2 lime</li>
    <li>Salt and Pepper to taste</li>
</ul>
<p>
    1.) Plate smoked salmon, spinach, and add the mayonnaise on the side of the plate.<br />
    2.) Drizzle Olive Oil, a wedge of lime and season with salt and pepper to taste<br />
<p />

<h3>Dinner - Lamb Chops</h3>
<h4>2 servings/.3g carbs/ 723 calories</h4>
<ul>
    <li>4 lamb chops</li>
    <li>1/2 tbsp butter</li>
    <li>1/2 tbsp olive oil</li>
    <li>Salt and Pepper to taste</li>
    <li> 2 oz herb butter</li>
    <li> 1/2 lemon (wedges)</li>
</ul>
<p>
    1.)Season lam chops with salt and pepper and heat pan to medium heat with olive oil and butter. <br />
    2.) Place lam chops on pan and cook for 3-4 minutes depending how thick the lamb chops are(Medium rare lamb is OK!)<br />
    3.) Serve with lemon wedges an herb butter<br />
    4.) Enjoy!

    <h3>Snacks - Deviled Eggs</h3>
    <h4>2 servings/1g carbs/ 163 calories</h4>
    <ul>
        <li>2 Eggs</li>
        <li>1/2 Tabasco hot sauce</li>
        <li>2 tbsp mayonnaise</li>
        <li>Salt and Pepper/ herbal salt</li>
        <li> 4 cooked and peeled shrimp</li>
    </ul>
<p>
    1.) Boil eggs for 8-10 minutes until they are hardboiled.<br />
    2.) Remove the eggs and place in ice water for a few minutes before peeling.<br />
    3.) Split the eggs in half also taking out the yolks.<br />
    4.) Mix the egg yolks with Tabasco, and seasoning. <br />
    5.) Add the egg yolk mixture to the egg whites and top with shrimp.<br />
    6.) Enjoy!<br />

    <h3>Dessert - Chocolate Chip Cookies</h3>
    <h4>6 servings/ 3g carbs/ 125 calories</h4>
    <ul>
        <li>1/2 cup almond flour</li>
        <li>1/8 tsp baking soda</li>
        <li>1/8 tsp salt</li>
        <li>1/6 cup erythritol(sweetener)</li>
        <li>1 1/4 oz unsalted butter</li>
        <li>1/2 Large egg</li>
        <li> 1/2 tbsp vanilla extract</li>
        <li> 1/2 oz sugar free chocolate chips</li>
    </ul>

<p>
    1) Whisk the almond flour, baking soda, and salt in a small bowl.<br />
    2) in a separate bowl, mix the sweetener and butter using an electric mixer on low. Add the egg and vanilla mix until well combined.
    Add the rest of the dry ingredients until blended together.<br />
    3.)PLace the cookie dough in the center of a 122 x9" parchment paper or plastic wrap. Shape the dough into 1 1/2" diameter
    and 10" long. Wrap the package around the dough and refrigerate for 3 hours.  <br />
    4.) Preheat the oven to 350 degrees F with a lined sheet of parchment paper.<br />
    5.) Place cookie dough (6 equal sizes 1" apart) on the baking sheet . Bake for 8-10 minutes. <br />
    6.) Set aside to cool for 10 minutes, Enjoy!
<p />





