<h1>The Ketogenic Diet</h1>

<strong>The Ketogenic Diet is consisted of high fat and protien with a low carbohydrate eating pattern.
The goal of the diet is to keep carbohydrates below 50 grams per day.  
With a Ketogenic Diet, ketones are made the primary source for energy in the place of
carbohydrates which then maintain lean muscle mass and large amounts of fat loss. Although this
diet aids in rapid fat loss, it is not reccommended that the diet is used long-term.</strong>


<div>

    <h2>Ketogenic Diet Key Components</h2>
    <ul>
        <li>High Fat</li>
        <li>High Protien</li>
        <li>Low Carb</li>
        <li>Short Term</li>
    </ul>
</div>

<img src="~/images/OIP.jpg" alt="Keto Chart" />