<h1>The Mediterranean Diet</h1>

The Mediterranean Diet began in the 1960's and early to recent studies show that
the diet has reduced risk for cardiovascular disease and was recognized by the
World Health Organization as a healthy sustainable diet plan to promote health and
prevent chronic diseases.

<div>

    Mediterranean Diet Key Components:

    <ul>
        <li>Daily Intake of Vegetables, Healthy Fats, Whole Grains</li>
        <li> Weekly Intake of Fish, Poultry, Beans and Eggs</li>
        <li>Moderate Intake of Dairy Products</li>
        <li>Limited Intake of Red Meat and Red Wine</li>
        <li>Being Physically Active</li>
    </ul>
</div>


<img src="~/images/MediterraneanChart.jpg" alt="Meti Chart" />
