<h1>The Mediterranean Diet</h1>

<strong>
    The Mediterranean Diet began in the 1960's and early to recent studies show that
    the diet has reduced risk for cardiovascular disease and was recognized by the
    World Health Organization as a healthy sustainable diet plan to promote health and
    prevent chronic diseases.
</strong>

<div>

    Mediterranean Diet Key Components:

    <ul>
        <li>Daily Intake of Vegetables, Healthy Fats, Whole Grains</li>
        <li> Weekly Intake of Fish, Poultry, Beans and Eggs</li>
        <li>Moderate Intake of Dairy Products</li>
        <li>Limited Intake of Red Meat and Red Wine</li>
        <li>Being Physically Active</li>
    </ul>
</div>

<img src="~/images/MediterraneanChart.jpg" alt="Meti Chart" height="300" width="375" />
<h2>Mediterranean Meals:</h2>

<h3>Breakfast - Egg Caprese Breakfast Cups</h3>
<h4> 2 servings/5g carbs/ 350 calories</h4>

<ul>
    <li>2 slices ham </li>
    <li>2 eggs</li>
    <li>1/2 cup shredded mozzarella</li>
    <li>Basil pesto sauce</li>
    <li>Cherry tomatoes (diced)</li>
    <li>Salt and Pepper to taste </li>
</ul>
<p>
    1.)Layer the slices of ham on the bottom and up the sides of a small bowl and sprinkle with mozzarella<br />
    2.)Crack the eggs into the same bowl, add pesto, tomatoes, and season with salt & pepper <br />
    3.)Place in microwave with cover on high for 1 min and 30 seconds. OR bake on 375F for 10 minutes<br />
    4.)Remove from microwave or oven and set aside to cool down. Enjoy!
<p />

<h3>Lunch -  Italian Chicken Wrap</h3>
<h4> 4 servings/7g carbs/ 610 calories</h4>
<ul>
    <li>1 extra large tortilla </li>
    <li>2 tbsp DeLallo Roasted Pepper Bruschetta</li>
    <li>4oz of cooked chicken breast</li>
    <li>3oz spinach</li>
    <li>2 slices of provolone cheese</li>
    <li>3/4 tomato (thinly sliced)</li>
    <li>1/4 red onion (sliced)</li>
    <li>3oz Black olives</li>
    <li>Balsamic Glaze (optional)</li>
</ul>
<p>
    1.)Lay tortilla flat on surface, spread the red pepper Brushetta inside the outer edge,
    place the chicken, spinach, cheese, tomatoes, red onions, and olives in the tortilla<br />
    2.) Fold the tortilla into a wrap,then cut into even portions.<br />
    3.) Drizzle with balsamic glaze and enjoy!<br />
<p />

<h3>Dinner - Mediterranean Style Fish</h3>
<h4>2 servings/ 12g carbs/ 867 Calories</h4>
<ul>
    <li>2/3 lb cod or tilapia</li>
    <li>1/4 cup olive oil</li>
    <li>1/2 tsp oregano</li>
    <li>1/2 yellow onion (Sliced)</li>
    <li>8 oz grape tomatoes (halved)</li>
    <li>1 lemon (juiced)</li>
    <li>2 cloves of garlic (minced)</li>
    <li>4 oz mixed olives</li>
    <li>Salt and Pepper to taste</li>
    <li>A grain of choice for serving</li>
</ul>
<p>
    1.)Preheat oven to 425F. In a bowl, mix olive oil, lemon juice, garlic and oregano until
    well combined<br />
    2.)Place a pan on medium-high and add 2 tbsp of olive oil marinade. Add onions,
    and cook for 6 minutes then add tomatoes, olives and cook for 5 minutes<br />
    3.)Coat a sheet pan with olive oil marinade, add the fish to the sheet pan and
    coat with more olive oil marinade and a pinch of salt. Bake for 5-7 minutes<br />
    4.)Plate the fish over your grain of choice, top with onions, tomatoes, and olives. Coat
    with the remainder of the olive oil marinade. Enjoy! <br />


    <h3>Snacks - Granola Bars</h3>
    <h4>12 servings/15g carbs/ 209 calories</h4>
    <ul>
        <li>1/3 cup dried mulberries (chopped)</li>
        <li>1/3 cup dried strawberries (chopped)</li>
        <li>1/2 cup raw cashews (chopped)</li>
        <li>1/2 cup peanut butter</li>
        <li>2 bananas (mashed)</li>
        <li>1/3 cup sunflower seeds</li>
        <li>1 cup protein powder</li>
        <li>1 cup rolled oats</li>
        <li>(2 tbsp) chia seeds, flaxseed</li>

    </ul>
<p>
    1.) Preheat oven to 350F. Mix peanut butter, and mashed bananas in a
    medium sized bowl<br />
    2.)Add the remaining ingredients to the bowl, mixing until evenly distributed. Line
    a 8x8 square baking pan and place the mixture onto the baking pan<br />
    3.) Bake for 25-30 minutes and let the granola cool for 30 minutes. <br />
    4.) Cut the granola into bars and wrap in wax paper. Enjoy! <br />


    <h3>Dessert - Whipped Yogurt with Apples and Walnuts</h3>
    <h4>4 servings/ 23g carbs/ 315 calories</h4>
    <ul>
        <li>1 cup plain Greek yogurt</li>
        <li>1/2 cup heavy cream</li>
        <li>1 tbsp honey </li>
        <li>2 tbsp unsalted butter</li>
        <li>2 apples(chopped)</li>
        <li>2 tbsp sugar</li>
        <li>1/8 tsp cinnamon </li>
        <li>1/4 cup walnut (chopped)</li>

    </ul>

<p>
    1) Combine and mix the yogurt, cream ,and honey in a bowl until
    mixture thickens<br />
    2)Melt the butter on a pan over medium heat. Once melted, add the apples and 1 tbsp
    of sugar to the pan. Cook until softened and add the remaining sugar to the apples<br />
    3.)Plate the yogurt on a bowl topped with the walnuts and cooked apples. Enjoy!<br />

