<h1>The Paleo Diet</h1>

The Paleo Diet is derived from the Paleolithic era of more than 2 million
years ago. The diet is based on the Paleo proponets that genetics and anatomy of human genetics
have changed very little since the Stone Age. Studies show that if our predecesors
lived long enough, they were able to experience less modern diseases such as
diabetes, cancer, and heart disease.


<div>

    <h2>Paleo Diet Key Components</h2>
    <ul>
        <li>Grass-Fed Meat</li>
        <li>Wild Caught Seafood</li>
        <li>Fresh Fruits and vegtables</li>
        <li>Eggs</li>
        <li>Nuts and Seeds</li>
        <li>Healthy Oils</li>
    </ul>
</div>
