<h1>The Paleo Diet</h1>

<strong>
    The Paleo Diet is derived from the Paleolithic era of more than 2 million
    years ago. The diet is based on the Paleo proponets that genetics and anatomy of human genetics
    have changed very little since the Stone Age. Studies show that if our predecesors
    lived long enough, they were able to experience less modern diseases such as
    diabetes, cancer, and heart disease.
</strong>


<div>

    <h2>Paleo Diet Key Components</h2>
    <ul>
        <li>Grass-Fed Meat</li>
        <li>Wild Caught Seafood</li>
        <li>Fresh Fruits and vegtables</li>
        <li>Eggs</li>
        <li>Nuts and Seeds</li>
        <li>Healthy Oils</li>
    </ul>
</div>


<img src="~/images/PaleoDietChart.jpg" alt="Paleo Chart" />


<h2>Paleo Meals:</h2>
<h3>Breakfast - Sweet Potato Waffles</h3>
<h4> 2 servings/28g carbs/ 765 calories</h4>

<ul>
    <li>1 Sweet Potato (peeled and grated)</li>
    <li>4 large eggs</li>
    <li>4 tbsp coconut flour</li>
    <li>2 ripe avocado</li>
    <li>2 green onions</li>
    <li>2 limes</li>
    <li>4 tablespoon Cilantro (chopped)</li>
    <li>Salt and Pepper to taste </li>
</ul>
<p>
    1.)Preheat waffle iron. In a large bowl, mix the sweet potato, one egg , coconut flour, and
    1/2 teaspoon of salt<br />
    2.) Spray waffle iron with nonstick spray, place half of the potato mixture into the iron and cook for
    5-8 minutes. Repeat with second half of potato mix<br />
    3.)While the waffles are cooking, fry the remainder of the eggs, peel and pit
    the avocado then mash avocado with diced green onions and lime juice. <br />
    4.)Add salt and pepper to taste. Enjoy!
<p />

<h3>Lunch - Chicken Fajita Cauliflower Rice Bowls</h3>
<h4> 4 servings/6g carbs/ 915 calories</h4>
<ul>
    <li>1 lb skinless chicken breasts</li>
    <li>3 bell peppers sliced</li>
    <li>1 sweet onion sliced</li>
    <li>2 tbsp extra virgin olive oil</li>
    <li>(2 tsp) chili powder, paprika, ground cumin </li>
    <li>(1 tsp) garlic powder, kosher salt </li>
    <li>24 oz Cauliflower</li>
    <li>1/3 cup chopped cilantro </li>
    <li>2 tbsp lime juice</li>
</ul>
<p>
    1.)Preheat oven to 400 degrees F. Place chicken and vegetables side by side on
    a baking sheet<br />
    2.)Mix the chili powder, paprika, cumin, garlic powder and salt in a bowl. Drizzle the olive oil on
    chicken and vegetables followed by the seasoning.<br />
    3.) Place chicken in oven for 30 minutes.<br />
    4.) Mince the cauliflower, cook until dry, toss with cilantro and lime juice.<br />
    5.) Plate the chicken, vegetables, and cauliflower. Enjoy!
<p />

<h3>Dinner - Pan Chicken with bacon and apples</h3>
<h4>3 servings/ 14g carbs/ 867 calories</h4>
<ul>
    <li>1 1/2 lb chicken breast</li>
    <li>1/2 tbsp balsamic vinegar</li>
    <li>1/2 tbsp olive oil</li>
    <li>Salt and Pepper to taste</li>
    <li>2 Red apples(chopped)</li>
    <li>1/2 lemon (wedges)</li>
    <li>3 cloves of garlic </li>
    <li>1/4 lb Brussels sprouts</li>
    <li>6 slices of bacon (chopped)</li>
</ul>
<p>
    1.)Cut Chicken breast into small chunks and place aside<br />
    2.) Mix Balsamic vinegar, olive oil, lemon and garlic in a bowl and Place the diced chicken in the marinade<br />
    3.) Preheat the oven to 375 degrees F, once heated, place Brussels sprouts, apples, bacon, and chicken chunks on
    baking sheet, and bake for 22 minutes.<br />
    4.) Remove from oven, salt and pepper to taste and enjoy!<br />

    <h3>Snacks - Paleo Energy Balls</h3>
    <h4>6 servings/28g carbs/ 234 calories</h4>
    <ul>
        <li>1/4 cup raw cashews</li>
        <li>3/4 raw almonds</li>
        <li>1 1/2 cups medjool dates</li>
        <li>1 1/4 cup cocoa powder</li>
    </ul>
<p>
    1.) Blend all nuts into crumbs, then add the medjool dates and blend until thick and
    combined<br />
    2.)Add the cocoa powder and mix into blend until even distribution.<br />
    3.) Place the mix on a bowl, lightly wet hands and start to form dough into small
    balls<br />
    4.) Refrigerate for 30 minutes or until firm. Enjoy! <br />


    <h3>Dessert - Honey Almond Fudge Cups</h3>
    <h4>14 servings/ 15g carbs/ 221 calories</h4>
    <ul>
        <li>1 1/2 cups almond butter</li>
        <li>1/3 cup raw honey</li>
        <li>1 tsp vanilla extract</li>
        <li>1/2 cup coconut oil (melted)</li>
        <li>2/3 cup almonds (chopped)</li>
        <li>1/2 tsp Sea Salt</li>
    </ul>

<p>
    1) Gather a 12 cup muffin pan with liners.<br />
    2)In a medium sized bowl, mix the almond butter, honey, vanilla extract, and
    coconut oil until smooth<br />
    3.)Stir in the almonds, with a pinch of sea salt, and spoon into cupcake liners <br />
    4.)Freeze for 15-20 minutes and enjoy! <br />
