<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diet__Fix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<header>
    <div class="text-center">
        <h1>DietFix</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a class=" btn btn-success" asp-action="Index" asp-controller="UserAccounts">My Account</a>
            </div>
            <div class="col">
                <a class=" btn btn-success" asp-action="Index" asp-controller="Home">BMI Calculater</a>
            </div>
            <div class="col">
                <a class="btn btn-success" asp-action="CostView" asp-controller="CostAnalysis">Meal Cost</a>
            </div>
            <div class="col">
                <a class=" btn btn-success" asp-action="Index" asp-controller="DietTypes">Diet Plans</a>
            </div>
            <div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</header>
<html>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)


