@model DietType

<h1>BMI / Calorie Calculator</h1>
<script type="text/javascript"
        id="WolframAlphaScript3f0b9e714dc05b05aad90cae08d25e3b"
        src="//www.wolframalpha.com/widget/widget.jsp?id=3f0b9e714dc05b05aad90cae08d25e3b">

</script>


