@model Diet__Fix.Models.CostAnalysis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CostAnalysis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CostOptions" class="control-label"></label>
                <input asp-for="CostOptions" class="form-control" />
                <span asp-validation-for="CostOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PastCost" class="control-label"></label>
                <input asp-for="PastCost" class="form-control" />
                <span asp-validation-for="PastCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCost" class="control-label"></label>
                <input asp-for="CurrentCost" class="form-control" />
                <span asp-validation-for="CurrentCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostComparison" class="control-label"></label>
                <input asp-for="CostComparison" class="form-control" />
                <span asp-validation-for="CostComparison" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
