@model UserInfo

<h1>Meal Prep Savings</h1>
@*
col1 = title of diet
col2 = description
col3 = advantages
col4 = disadvantages
col5 = reason
col5 = Simple Meal Prep
*@

<a asp-action="Index" asp-controller="DietTypes" class="btn btn-primary">Select this Diet</a>
<a asp-action="CostView" class="btn btn-warning">Go Back</a>
