@model UserInfo

<h1>Meal Prep</h1>


<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Ut nunc augue, aliquam in condimentum nec, malesuada non sapien.
    Sed luctus sem sed quam aliquam, ultricies euismod augue sodales.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer
    rhoncus ante sed felis vehicula eleifend. Curabitur malesuada odio nec
    felis molestie, vitae imperdiet felis tincidunt. Cras viverra nibh tortor,
    at sodales felis tristique quis. Pellentesque mattis non leo nec eleifend.
    Morbi eleifend vulputate neque non dignissim. Aliquam mollis accumsan nisl,
    non tempus augue molestie non. Aenean vestibulum auctor urna, ac posuere felis
    lobortis eu. Curabitur tincidunt dui quam, eu maximus erat vehicula ultricies.
    Curabitur efficitur elit et urna tempus imperdiet. Nunc eu lorem nec nunc semper
    rutrum. Nam venenatis lorem nec lacus tempor aliquam. Sed non feugiat eros.

    Vivamus ultricies congue tellus, ut sodales dui bibendum sit amet.
    Phasellus condimentum sit amet neque vitae molestie. Quisque ornare
    est quis massa vestibulum lacinia. Ut placerat ante odio, ut tincidunt
    turpis pretium in. Curabitur nulla risus, imperdiet id facilisis ut, auctor
    vitae quam. Cras quis ornare eros, vel dapibus sem. Maecenas tempus dictum
    urna, gravida blandit tellus luctus sit amet. Sed id ligula ex. Quisque
    feugiat sodales libero, ut gravida arcu. Vestibulum massa sapien, aliquam
    vel dapibus in, mollis non est. Cras sit amet tincidunt ligula. Aenean ut
    iaculis leo, eget imperdiet ex.

    Praesent non placerat libero, quis porta diam. Nulla sit amet turpis
    a sem vulputate placerat quis pretium nulla. Etiam accumsan ac turpis
    in dignissim. Cras pulvinar neque erat, vel ultrices ipsum tincidunt eu.
    Pellentesque pharetra rhoncus egestas. Aliquam ut ornare eros. Sed et sem
    molestie, hendrerit libero a, ornare neque. Sed viverra maximus pharetra.

    Proin ultrices auctor dolor ut elementum. Ut posuere id lacus sed viverra.
    Phasellus fringilla porta leo a fermentum. Aliquam ac ultrices velit. Praesent
    convallis velit a elit blandit mollis. Cras ex sapien, accumsan sed commodo accumsan,
    suscipit a risus. Suspendisse potenti. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Proin augue lectus, tincidunt sed mi sed,
    blandit venenatis dolor. Praesent pellentesque euismod tellus, ac porttitor urna lacinia
    sit amet. Proin blandit erat in convallis posuere. Sed ac augue efficitur, viverra eros
    id, posuere turpis. Proin sagittis euismod erat. Curabitur non diam congue, auctor tellus
    in, venenatis leo. Nam eget tristique elit. Mauris id diam sit amet felis pulvinar imperdiet.
</div>
@*
    col1 = title of diet
    col2 = description
    col3 = advantages
    col4 = disadvantages
    col5 = reason
    col5 = Simple Meal Prep
*@

<a asp-action="Index" asp-controller="DietTypes" class="btn btn-primary">Select this Diet</a>
<a asp-action="CostView" class="btn btn-warning">Go Back</a>
